<head>
    <meta charset="UTF-8">
    <title>v.6.cn</title>
</head>
<body>
  <ul>
    <% info.forEach(function(user){ %>
      <li>
        <%=user['href']%>
      </li>
    <% }) %>
  </ul>
</body>
</html>
