<head>
    <meta charset="UTF-8">
    <title>v.6.cn</title>
</head>
<body>
  <ul>
    <% info.forEach(function(user){ %>
      <li>
        <a href='https://<%=user['href']%>' target="blank"><%=user['href']%></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
